@{
    ViewBag.Title = "Home Page";
}

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        
        <br>
        <br>
        <h1><p align="center" width="60%">Bienvenidos al sistema de control de inventario </p></h1>
        <h1><p align="center">y facturación</p> </h1>
        <br>
        <p align="center"><img src="~/images/sistemas inventarios.jpg" /></p>
            <br>
            <br>
            <br>
            <div>
                @using (Html.BeginForm())
        {

        }
            </div>
</body>
</html>

