@model IEnumerable<SistemaFacturacionWeb.Models.articulo>

@{
    ViewBag.Title = "Articulos";
}

<p align ="center"><h2>Error</h2></p>
<h3>Error de Acceso favor volver</h3>
<p> 
    <span class="glyphicon glyphicon-new-window"></span>&nbsp;@Html.ActionLink("Volver", "Index")
</p>
<table class="table">

</table>
